<ion-header color=primary>
  <ion-toolbar>
    <ion-title> Prayer Timings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
  
    <ion-row style="border-bottom: 1px solid #7f8c8d;">
      <ion-col>
        <div class="ion-text-justify">
          Sunset Yesterday
        </div>
      </ion-col>
      <ion-col>
        <!-- <div class="ion-text-wrap">
          Sunrise Today
        </div> -->
      <ion-input placeholder="Enter Sunrise" clearInput></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          Sunset Yesterday
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          Sunrise Today
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
